.about-container {
  display: flex;
  justify-content: center;
  gap: 4rem;
}
.portrait-container {
  width: 200px;
  height: 200px;
  background-color: blue;
  border-radius: 50%;
}

.about-left-container {
  display: flex;
  flex-direction: column;
  width: 100%;

  align-items: center;
  justify-content: center;
  text-align: center;
}

.about-right-container {
  width: 100%;
}
.about-text p {
  display: inline-block;
  text-align: left;
}
.skill-wall {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  width: 100%;
  height: 100%;
}

.skill-column {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.skill-item {
  background: linear-gradient(45deg, var(--accent), var(--secondary));
  padding: 2px;
  border-radius: 10px;
}

.skill-item-content {
  background: var(--surface);
  padding: 1rem 1rem;
  border-radius: 8px;
  color: var(--text);
  font-weight: bold;
  text-align: center;
  width: 80px;
}

.skill-item img {
  width: 50px;
  height: 50px;
}
