#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  min-height: 100vh;
}

.intro{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1rem;
  height: 100vh;
  padding: 2em;
}
.intro h1 {
  margin-top: 0px;
  margin-bottom: 0px;
}
.name {
    color: var(--accent);
}

.work-btn {
  font-size: 30px;
  color: var(--accent);
  text-align: center;

  display: inline-block;
  border: solid 3px var(--accent);
  border-radius: 3px;
  margin-top: 1rem;
  padding: 0px 10px 0px 10px;
}
