.contact-container {
  display: flex;
  /* flex-direction: column; */
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  width: fit-content;
  margin: 0 auto;
  gap: 4rem;
  margin-bottom: 100px;
}

.contact-container img {
  width: 60px;
  height: 60px;
}
